<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">

<head>
  <!-- Required meta tags -->

</head>
<body>
<div class="text-center"><h2>Add Category</h2></div>
<div>
  <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Enter Category Details</h4>
                  <p class="card-description">

                  </p>
                  <form class="forms-sample" method="post" action="{% url 'UpdateCategory' dataid=data.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputName1">Category Name</label>
                      <input type="text" class="form-control" value="{{data.CategoryName}}" id="exampleInputName1" placeholder="Enter Category Name" name="category">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Description</label>
                      <input type="text" class="form-control" value="{{data.Description}}" id="exampleInputEmail3" placeholder="Enter Description" name="description">
                    </div>

                    <div class="form-group">
                      <label for="exampleSelectGender">Sub Category</label>
                        <select class="form-control" id="exampleSelectGender" name="subcat">
                          <option>select</option>
                          <option>{{data.SubCategory}}</option>
                        </select>
                      </div>
                    <div class="form-group">
                      <label>File upload</label>

                      <div class="input-group col-xs-12">
                        <img src="{{data.CategoryImage.url}}" width="100px" height="100px">
                        <input type="file" name="image" >
<!--                        <span class="input-group-append">-->
<!--                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>-->
<!--                        </span>-->
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
</div>

</body>

</html>
{% endblock %}
