<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">

<head>
  <!-- Required meta tags -->

</head>
<body>
<div class="text-center"><h2>Edit Product</h2></div>
<div>
  <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <form action="{% url 'ProductDisplay' %}">
                    <button type="submit" class="btn btn-info font-weight-bold">Display Products</button>
                  </form>
                  <form class="forms-sample" method="post" action="{% url 'ProductUpdate' dataid=products.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                   <div class="form-group">
                      <label for="exampleSelectGender">Category</label>
                        <select class="form-control" id="exampleSelectGender" name="category">
                          <option>Select</option>
                           {% for d in data %}
                          <option>{{d.CategoryName}}</option>
                           {% endfor %}
                        </select>
                      </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Product Name</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" value="{{products.Product_Name}}" placeholder="Enter Product Name" name="proname">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Quantity</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" value="{{products.Quantity}}" placeholder="Enter Quantity" name="quantity">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Description</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" value="{{products.Description}}" placeholder="Enter Description" name="description">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Price</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" value="{{products.Price}}" placeholder="Enter Price" name="price">
                    </div>

                    <div class="form-group">
                      <label for="exampleSelectGender">Sub Category</label>
                        <select class="form-control" id="exampleSelectGender" name="subcat">
                          <option>Select</option>
                            <option>Dog</option>
                          <option>Cat</option>
                        </select>
                      </div>
                    <div class="form-group">
                      <label>File upload</label>

                      <div class="input-group col-xs-12">
                          <img src="{{products.Product_Image.url}}" width="100px" height="100px">
                        <input type="file" name="image" >
<!--                        <span class="input-group-append">-->
<!--                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>-->
<!--                        </span>-->
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
</div>

</body>

</html>
{% endblock %}
